@{
    ViewData["Title"] = "UserList";
}
@model List<UserViewModel>

<h4>Üye Listesi</h4>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>User Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
            </tr>
        }
    </tbody>
</table>